# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.DS_Store

# Virtual environments
.venv/
.cloudenv/
env/
*.egg-info/

# Model checkpoints
sentiment_model/
*.bin
*.safetensors
*.pt

# Datasets
data/
*.csv
*.parquet

# AWS & configs
*.pem
*.key
*.json
*.yml
*.yaml
